*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
*.swp
*~
.settings/
.loadpath
.recommenders
.project
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/build/
/buildSrc/build/
/.kotlin/
